/* SignUp.css */

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signup-form {
    width: 400px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .signup-form img {
    width: 50px; /* Adjust the image width as needed */
    margin-right: 10px;
  }
  
  .signup-form h2 {
    text-align: center;
  }
  
  .signup-form label {
    display: block;
    margin: 10px 0;
  }
  
  .signup-form input {
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px 0;
    box-sizing: border-box;
  }
  
  .signup-form button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-form button:hover {
    background-color: #45a049;
  }
  